#levels {width: 400px;
         height: 400px;
		 background-color: black;
		 display:none;
		 margin: 150px auto;
		 }
		 
#pauseMenu {width: 400px;
			height: 800px;
			background-color: black;
			display:none;
			margin: 150px auto;
			}

#mainMenu {width: 400px;
			height: 800px;
			margin: 150px auto;
			}	

			